@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&display=swap');

* {     /* Definindo margem e padding do body*/
	padding: 0;
	margin: 0;

	box-sizing: border-box;

}

html {  /*fonte do html*/
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
}
a{
	text-decoration: none;

}
/*Começa cabeçalho*/
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;

}

#header .brand img{
    width: 50px;
    height: 40px;
}
#header .header {
	min-height: 3vh;
	background-color:rgba(233, 230, 230, 0.671);
	transition: .3s ease background-color;

}

#header .nav-bar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 100%;
	padding: 0 10px;
}

#header .nav-list ul {
	list-style: none;
	width: 5px;
	position: flex;
	left: 10px;
	top: 0;
	display: flex;
	
	justify-content: space-between;
	align-items: flex;
}

#header .nav-list ul a {
	font-size: 15px;
	letter-spacing: 0.01rem;
	text-decoration: none;
	color: black;
	text-transform: lowercase;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

#header .search {
	padding: 0 20px;
}
/*Termina o cabeçalho*/

/*Começo Slides*/
#slideshow {
	position: relative;
}

#slideshow .slidershow{
	position: relative;
}
#slideshow .slidershow .slides{
	position: relative;
}

#slideshow .slidershow .slides .slide{
	position: relative;
}

#slideshow  h1{
	position: absolute;
	color: white;
	font-size: 30px;
	width: 100%;
	text-align: center;
	bottom: 15%;
}

#slideshow  h3{
	position: absolute;
	font-family: 'Advent Pro', sans-serif;
	color: white;
	font-size: 20px;
	width: 100%;
	text-align: center;
	bottom: 12%;
}

#slideshow  a{
	position: absolute;
	color: blue;
	font-size: 10px;
	width: 100%;
	left: 0;
	bottom: 10%;
	text-align: center;

}

#slideshow .slidershow{
    width: 100%;
    height: 800px;
    overflow: hidden;
}

#slideshow .navigation{
    position: absolute;
    bottom: 5%;
    left: 48%;
    display: flex;
}
#slideshow .bar{
    display: flex;
    margin: 0 .02em;
    font-size: 60px;
    text-align: center;
    text-decoration: none;
    transition: 1.5s;
}
#slideshow .bar:hover{
    color: white;
    color: rgba(255, 255, 255, 0.8);
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

#slideshow .slides{
    width: 500%;
    height: 100%;
    display: flex;
}
#slideshow .slide{
    width: 20%;
    transition: 0.6s;
}

#slideshow .slide img{
    width: 100%;
    height: 100%;
	object-fit: cover;
}

#r1:checked ~ .s1{
    margin-left: 0;
}

#r2:checked ~ .s1{
    margin-left: -20%;
}

#r3:checked ~ .s1{
    margin-left: -40%;
}

#r4:checked ~ .s1{
    margin-left: -60%;
}

/*Fim Slides*/

/* Começa Projetos */
#projetos{
	margin: 5px;
	position: relative;
	display: flex;
	justify-content: space-between;
}

#projetos .projeto{
	margin: 5px;
	position: relative;
}

#projetos .projeto img{
	width: 100%;
}

#projetos .projeto h1{
	position: absolute;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	top: 10%;
	width: 100%;
	text-align: center;
}

#projetos .projeto h3{
	position: absolute;
	font-size: 20px;
	margin: 15px;
	font-family: 'Advent Pro', sans-serif;
	color: white;
	top: 14%;
	width: 100%;
	text-align: center;
}

#projetos2{
	position: relative;
	margin: 5px;
	display: flex;
	justify-content: space-between;
}

#projetos2 .projeto{
	position: relative;
	margin: 5px;
}

#projetos2 .projeto img{
	width: 100%;
}

#projetos2 .projeto h1{
	position: absolute;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	top: 10%;
	width: 100%;
	text-align: center;
}

#projetos2 .projeto h3{
	position: absolute;
	font-size: 20px;
	margin: 15px;
	font-family: 'Advent Pro', sans-serif;
	color: white;
	top: 14%;
	width: 100%;
	text-align: center;
}

#projetos3{
	margin: 5px;
	position: relative;
	display: flex;
	justify-content: space-between;
}

#projetos3 .projeto{
	position: relative;
	margin: 5px;
}

#projetos3 .projeto img{
	width: 100%;
}

#projetos3 .projeto h1{
	position: absolute;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	top: 10%;
	width: 100%;
	text-align: center;
}

#projetos3 .projeto h3{
	position: absolute;
	font-size: 20px;
	margin: 15px;
	font-family: 'Advent Pro', sans-serif;
	color: white;
	top: 14%;
	width: 100%;
	text-align: center;
}

/* Fim Projetos */

/* Começa Rodapé */
#rodape{
	position: relative;
	background-color:rgba(212, 205, 205, 0.671);
	margin-top: 2px;

	bottom: 0;
	width: 100%;
	height: 35px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}
#rodape .rede_social{
	display: flex;
}
#rodape .rede_social  img{
	margin: 15px;
	height: 20px;
}
/* Termina Rodapé */

/*Responsividade */

@media only screen and (max-width: 767px) and (max-height:1080px){
	/*Caneçalho */
	#header .nav-bar{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		max-width: 100%;
		padding: 0 10px;
	}

	#header .nav-list ul {
		list-style: none;
		position: absolute;
		background-color:  rgb(31, 30, 30);
		width: 100vw;
		height: 100vh;
		left: 100%;
		top: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 1;		overflow-x: hidden;
		transition: .5s ease left;
	}
	
	#header .nav-list ul.active {
		left: 0%;
	}
	#header .nav-list ul a {
		font-size: 2.5rem;
		font-weight: 500;
		letter-spacing: .2rem;
		text-decoration: none;
		color: white;
		text-transform: uppercase;
		padding: 20px;
		display: block;
	}
	#header.nav-list ul a::after {
		content: attr(data-after);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0);
		color: white;
		font-size: 13rem;
		letter-spacing: 50px;
		z-index: -1;
		transition: .3s ease letter-spacing;
	}

	#header .nav-list ul li:hover a::after{
		transform: translate(-50%, -50%) scale(1);
		letter-spacing: initial;
	}

	#header .nav-list ul li:hover a {
		color: crimson;
	}
	#header .hamburger {
		height: 60px;
		width: 60px;
		display: inline-block;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 100;
		cursor: pointer;
	}
	#header.hamburger::after{
		position: absolute;
		content: '';
		height: 100%;
		width: 100%;
		border-radius: 50%;
		border: 3px solid white;
		animation: hamburguer_puls 1s ease infinite;
	}
	#header .hamburger .bar {
		height: 1px;
		width: 25px;
		position: relative;
		background-color: black;
		z-index: -1;
	}
	#header .hamburger .bar::after,
	#header .hamburger .bar::before {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		background-color: black;
		transition: .3s ease;
		transition-property: top, bottom;
	}
	#header .hamburger .bar::after {
		top: 8px;
	}
	#header .hamburger .bar::before {
		bottom: 8px;
	}
	#header .hamburger.active .bar::before {
		bottom: 0;
	}
	#header .hamburger.active .bar::after {
		top: 0;
	}
	/*fim cabeçalho */

	/*Slides */
	#slideshow .slidershow{
		width: 100%;
		height: 400px;
	}

	#slideshow .navigation{
		bottom: 0;
		left: 40%;
	}

	#slideshow h3{
		bottom: 10%;
	}

	#slideshow a{
		bottom: 7%;
	}
	/*Fim Slides*/
	/*Começa Projetos*/
	#projetos .projeto h1{
		position: absolute;
		width: 100%;
		text-align: center;
		font-size: 15px;
		font-family: Arial, Helvetica, sans-serif;
		color: white;
		top: 10%;
	}
	#projetos .projeto h3{
		position: absolute;
		font-size: 8px;
		margin: 5px;
		width: 100%;
		text-align: center;
		font-family: 'Advent Pro', sans-serif;
		top: 20%;
	}

	#projetos2 .projeto h1{
		position: absolute;
		width: 100%;
		text-align: center;
		font-size: 15px;
		font-family: Arial, Helvetica, sans-serif;
		color: white;
		top: 10%;
	}
	#projetos2 .projeto h3{
		position: absolute;
		font-size: 8px;
		margin: 5px;
		width: 100%;
		text-align: center;
		font-family: 'Advent Pro', sans-serif;
		top: 20%;
	}

	#projetos3 .projeto h1{
		position: absolute;
		width: 100%;
		text-align: center;
		font-size: 15px;
		font-family: Arial, Helvetica, sans-serif;
		color: white;
		top: 10%;
	}
	#projetos3 .projeto h3{
		position: absolute;
		font-size: 8px;
		margin: 5px;
		width: 100%;
		text-align: center;
		font-family: 'Advent Pro', sans-serif;
		top: 20%;
	}
	/*Termina Projetos */

}